*{
	margin: 0;
	padding: 0;
	text-decoration: none;
}
body{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
}
header{
	border-bottom: 1px solid #999;
	margin-bottom: 2rem;
	background: black;
}
.subheader{
	width: 80%;
	margin: auto;
	max-width: 1200px;
	display: grid;
	grid-template-columns: 3fr 1fr;
	align-items: center;
}
a{
	text-decoration: none;
	color: black;
}
.title{
	color:white;
}
.posts{
	width: 75%;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: auto;
	justify-content: center;
}
.edit_p{
	color: #474747;
	font-weight: 900;
}